

@model Dal.Dragones.Usuario


@{
    ViewData["Title"] = "Inicio de Sesión";
    Layout = "";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style02.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/localization/messages_es.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

</head>

<div class="wrapper">
    <form asp-controller="Login" asp-action="Index" method="post">
        <h2>Inicio de Sesión</h2>
        <div class="input-field">
            <input type="email" asp-for="Correo">
            <label asp-for="Correo">Correo Electrónico</label>
        </div>
        <span asp-validation-for="Correo" class="text-danger"></span>
        <div class="input-field">
            <input type="password" asp-for="Clave">
            <label asp-for="Clave" >Contraseña</label>
        </div>
        <span asp-validation-for="Clave" class="text-danger"></span>
        @if (ViewData["Error"] != null)
        {
            <div class="text-danger" role="alert">
                @ViewData["Error"]
            </div>
        }
        <div class="forget">
            <label for="remember">
                <input type="checkbox" id="remember">
                <p>Recordarme</p>
            </label>
        </div>
        <button type="submit">Iniciar Sesión</button>
    </form>
</div>
