@using Bar_Restaurante_Los_Dragones.Models.ViewModels
@model UserControllerViewModel
@{
    ViewData["Title"] = "Crear Nuevo Usuario";
}

<html lang="es">
<body>
    
    <div class="content-page-container full-reset custom-scroll-containers">
        <nav class="navbar-user-top full-reset">
            <ul class="list-unstyled full-reset">
                <figure>
                    <img src="~/assets/img/user01.png" alt="user-picture" class="img-responsive img-circle center-box">
                </figure>
                <li style="color:#fff; cursor:default;">
                    <span class="all-tittles">Admin Name</span>
                </li>
                <li class="tooltips-general exit-system-button" data-href="index.html" data-placement="bottom" title="Salir del sistema">
                    <i class="zmdi zmdi-power"></i>
                </li>
                <li class="tooltips-general search-book-button" data-href="searchbook.html" data-placement="bottom" title="Buscar libro">
                    <i class="zmdi zmdi-search"></i>
                </li>
                <li class="tooltips-general btn-help" data-placement="bottom" title="Ayuda">
                    <i class="zmdi zmdi-help-outline zmdi-hc-fw"></i>
                </li>
                <li class="mobile-menu-button visible-xs" style="float: left !important;">
                    <i class="zmdi zmdi-menu"></i>
                </li>
                <li class="desktop-menu-button hidden-xs" style="float: left !important;">
                    <i class="zmdi zmdi-swap"></i>
                </li>
            </ul>
        </nav>
        <div class="container">
            <div class="page-header">
                <h1 class="all-tittles">Sistema Restaurante Los Dragones Inicio <small>Administración Usuarios</small></h1>
            </div>
        </div>
        <div class="container-fluid">
            <ul class="nav nav-tabs nav-justified" style="font-size: 17px;">
                <li><a asp-controller="Administracion" asp-action="CrearAdministrador">Administradores</a></li>
                <li class="active"><a asp-controller="Administracion" asp-action="CrearAdministrador">Empleados</a></li>
            </ul>
        </div>
        <div class="container-fluid" style="margin: 50px 0;">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="~/assets/img/user01.png" alt="user" class="img-responsive center-box" style="max-width: 110px;">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                    Bienvenido a la sección para registrar nuevos empleados al sistema, debes de llenar todos los campos del siguiente formulario para registrar un empleado
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 lead">
                    <ol class="breadcrumb">
                        <li class="active">Nuevo Empleado</li>
                        <li><a asp-controller="Administracion" asp-action="EmpleadoListado">Listado de Empleados</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container-flat-form">
                <div class="title-flat-form title-flat-blue">Registrar un nuevo empleado</div>

                <form class="form-padding">

                    <div class="row">
                        <div class="col-xs-12">
                            <legend><i class="zmdi zmdi-account-box"></i> &nbsp; Datos básicos</legend><br>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input asp-for="Nombre" type="text" class="material-control tooltips-general" placeholder="Nombre" required="" maxlength="70" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Escribe el nombre del Empleado o Administrador">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label asp-for="Nombre"></label>
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                        </div>
                       
                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input asp-for="PrimerApellido" type="text" class="material-control tooltips-general" placeholder="PrimerApellido" required="" maxlength="70" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Escribe el Primer Apellido del Empleado o Administrador">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label asp-for="PrimerApellido"></label>
                                <span asp-validation-for="PrimerApellido" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input asp-for="SegundoApellido" type="text" class="material-control tooltips-general" placeholder="SegundoApellido" required="" maxlength="70" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip" data-placement="top" title="Escribe el Segundo Apellido del Empleado o Administrador">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label asp-for="SegundoApellido"></label>
                                <span asp-validation-for="SegundoApellido" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input asp-for="Email" type="email" class="material-control tooltips-general" placeholder="Email" required="" maxlength="70" data-toggle="tooltip" data-placement="top" title="Escribe el Email del Empleado o Administrador">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label asp-for="Email"></label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <select asp-for="IdRol" asp-items="ViewBag.Roles" class="form-control"></select>
                            <label asp-for="IdRol"></label>
                            <span asp-validation-for="IdRol" class="text-danger"></span>
                        </div>


                        <div class="col-xs-12">
                            <legend><i class="zmdi zmdi-lock"></i> &nbsp; Datos de la cuenta</legend><br>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input asp-for="Password" type="password" class="material-control tooltips-general" placeholder="Contraseña" required="" maxlength="200" data-toggle="tooltip" data-placement="top" title="Escribe una contraseña">
                                <span class="highlight"></span>
                                <span asp-validation-for="Password" class="bar"></span>
                                <label asp-for="Password">Contraseña</label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input asp-for="ConfirmPassword" type="password" class="material-control tooltips-general" placeholder="Repite la contraseña" required="" maxlength="200" data-toggle="tooltip" data-placement="top" title="Repite la contraseña">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label asp-for="ConfirmPassword">Repetir contraseña</label>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <p class="text-center">
                                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                <button id="registerSubmit" type="submit" class="btn btn-primary"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                            </p>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="ModalHelp">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center all-tittles">ayuda del sistema</h4>
                    </div>
                    <div class="modal-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore dignissimos qui molestias ipsum officiis unde aliquid consequatur, accusamus delectus asperiores sunt. Quibusdam veniam ipsa accusamus error. Animi mollitia corporis iusto.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i> &nbsp; De acuerdo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>